{% extends "base.html" %}
{% block title %}Delete College{% endblock %}

{% block content %}
<div class="page-title"><h3>Delete College</h3></div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "<b>{{ object }}</b>"?</p>
        <button class="btn btn-danger" type="submit">Yes, Delete</button>
        <a class="btn btn-light" href="{% url 'college-list' %}">Cancel</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}