{% extends "base.html" %}
{% block title %}Organization Form{% endblock %}

{% block content %}
<div class="page-title">
  <h3>{% if object %}Update Organization{% else %}Add New Organization{% endif %}</h3>
</div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include "includes/form.html" %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'organization-list' %}" class="btn btn-light">Cancel</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}